<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Agregar permisos si los necesitas (opcional) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrasnporteNatagaLaPlata"
        tools:targetApi="31">

        <!-- Ordenar actividades alfabéticamente para mejor organización -->
        <activity
            android:name=".activities.ConfirmarReserva"
            android:exported="false"
            android:theme="@style/Theme.TrasnporteNatagaLaPlata.NoActionBar" />

        <activity
            android:name=".activities.EditarPerfil"
            android:exported="false"
            android:theme="@style/Theme.TrasnporteNatagaLaPlata.NoActionBar" />

        <activity
            android:name=".activities.EditarPerfilConductor"
            android:exported="false"
            android:label="Editar Perfil Conductor"
            android:theme="@style/Theme.TrasnporteNatagaLaPlata.NoActionBar" />

        <activity
            android:name=".activities.HistorialViajesConductor"
            android:exported="false"
            android:label="@string/historial_reservas"
            android:theme="@style/Theme.TrasnporteNatagaLaPlata.NoActionBar" />

        <activity
            android:name=".activities.InicioConductor"
            android:exported="false"
            android:theme="@style/Theme.TrasnporteNatagaLaPlata.NoActionBar" />

        <activity
            android:name=".activities.InicioDeSesion"
            android:exported="true"
            android:theme="@style/Theme.TrasnporteNatagaLaPlata.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.InicioUsuarios"
            android:exported="false"
            android:theme="@style/Theme.TrasnporteNatagaLaPlata.NoActionBar" />

        <activity
            android:name=".activities.PerfilConductor"
            android:exported="false"
            android:theme="@style/Theme.TrasnporteNatagaLaPlata.NoActionBar" />

        <activity
            android:name=".activities.PerfilUsuario"
            android:exported="false"
            android:theme="@style/Theme.TrasnporteNatagaLaPlata.NoActionBar" />

        <activity
            android:name=".activities.RegistroUsuarios"
            android:exported="false"
            android:theme="@style/Theme.TrasnporteNatagaLaPlata.NoActionBar" />

        <activity
            android:name=".activities.Reservas"
            android:exported="false"
            android:theme="@style/Theme.TrasnporteNatagaLaPlata.NoActionBar" />

        <!-- Servicios de Firebase (si los usas) -->
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

    </application>

</manifest>