<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrasnporteNatagaLaPlata"
        tools:targetApi="31">
        <activity
            android:name=".activities.EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".activities.PerfilConductor"
            android:exported="false" />
        <activity
            android:name=".activities.PerfilUsuario"
            android:exported="false" />
        <activity
            android:name=".activities.InicioConductor"
            android:exported="false" />
        <activity
            android:name=".activities.RegistroUsuarios"
            android:exported="false" />
        <activity
            android:name=".activities.InicioDeSesion"
            android:exported="false" />
        <activity
            android:name=".activities.ConfirmarReserva"
            android:exported="false" />
        <activity
            android:name=".activities.Reservas"
            android:exported="false"
            android:theme="@style/Theme.TrasnporteNatagaLaPlata" />
        <activity
            android:name=".activities.InicioUsuarios"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>